<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>url</key>
                        <string>KKPlayer.ipa</string>
                    </dict>
                    <dict>
                        <key>url</key>
                        <string>embedded.mobileprovision</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>top.kktt.KKPlayer</string>
                    <key>bundle-version</key>
                    <string>1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>KKPlayer</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
